.cloud-container{
    height: 100vh;
    width: 20vw;
    position: fixed;
    top: 0;
    left: -30vw;
    /* left:0; */
    opacity: 0.7;
    z-index: 6;
    transition: 0.4s;
}
#wordcloud{
    display: flex;
    width: 30vw;
    height: 100vh;
   
}
#nav-tag:hover{
    cursor: pointer;
}
.cloud-container-move{
    transform: translate(30vw, 0px);
}
#wordcloud > span{
    cursor: pointer;
}
#wordcloud > span:hover{
    color:#00cccc !important;
}