.nav-container{
    height: 60px;
    width: 100vw;
    background: black;
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    z-index: 10;
}
.logo{
    width: 36px;
    height: 36px;
}
.navbar{
    width: 80%;
    margin: 0 auto;
    color: #ffffff;
    text-align: center;
}

.nav-link{
    color: #ffffff;
}
.nav-link:hover{
    color:#00cccc !important;
    cursor: pointer;
}
.nav-item{
    font-size: 16px;
    margin-left:10px;
    margin-right:10px;
}
.navbar-nav{
    display: flex !important; 
    align-items: center !important;
}

#translation{
    margin-right: 24px;
}

.search-block{
    width: 160px;
    height: 30px;
    border-radius: 20px;
    border: 0px;
    padding: 2px 40px 2px 10px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#search{
    width:112px;
    border: 0px;
    left:0;
}
#search:focus{
    outline: none;
}

#search-icon{
    min-width: 30px;
    min-height: 30px;
    background-image: url("../img/search.png");
    background-repeat: no-repeat;
    background-size: contain;
	background-position: center center;
    cursor: pointer;
}