a{
    color:#00cccc;
}
.recommender-block{
    margin: auto 0;
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.recommend-wrap{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-items: space-around;
}
/* 
.card{
    margin: 10px;
    box-shadow:1px 1px 3px rgba(20%,20%,20%,0.6);
}

.card-size{
    max-width: 500px;
    min-width: 375px;
    background-color: white;
}

.card-hearder-row{
    display: flex;
    flex-direction: row;
}

.main-img{
    margin-bottom: 15px;
}

.abstract{
    border-left: 3px solid #00cccc;
    color: gray;
    padding-left: 10px;
}
.pagination{
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.page-link{
    color: #00cccc;
}
.page-item.active .page-link{
    background-color: #00cccc;
    border-color: #00cccc;
}
.viewed{
    margin-left:10px;
    width:24px;
    height:24px;
    filter: grayscale(70%);
} */