a{
    color:#00cccc;
}
.recommender-block{
    max-width: 75%;
    margin: 0 auto 20px auto;
    padding-left:1vw;
    display: flex;
    flex-direction: column;
    /* background-color: white; */
    border-bottom: 1px solid gray;

}
.recommend-title{
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid gray;
}
.recommend-wrap{
    max-width:100%;
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: space-around;
}

@media only screen and (max-width: 380px) {
    .recommender-block{
        max-width: 95%;
    }
}